{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <h1>Welcome to my website!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
{% endblock %}